---
import { getCollection } from "astro:content";

import { Search } from "@myriaddreamin/tylant";

import BaseHead from "$components/BaseHead.astro";
import Footer from "$components/Footer.astro";
import FormattedDate from "$components/FormattedDate.astro";
import Header from "$components/Header.astro";
import TagListPublications from "$components/TagListPublications.astro";
import Sidebar from "$components/Sidebar.astro";

import { kUrlBase, kSiteTitle, kSiteDescription, kEnableSearch } from "$consts";

import "$styles/IndexPostList.css";

const posts = (await getCollection("pub")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const publicationsURL = kUrlBase.concat("/publications");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    <style>
      .posts.loading {
        display: none;
      }
      main.search-enabled {
        padding-top: 0;
      }
      /*  */
      @media (max-width: 600px) {
        .heading {
          display: flex;
          flex-direction: column;
        }
      }
      .category-list ul {
          list-style-type: none;
          /* margin: 20px; */
          /* padding: 20px; */
          overflow: hidden;
      }
      .category-list li {
          float: left;
      }
      .category-list li a {
          display: block;
          /* padding: 0px; */
          padding-left: 8px;
          padding-right: 8px;
          margin-right: 10px;
          margin-bottom: 5px;
          text-align: center;
          text-decoration: none;
          background-color: var(--nav-bg-color);
          border-radius: 8px;
      }
      .category-list li a:hover {
        /* background-color: var(--accent-dark) */
      }
    </style>
  </head>
  <body>
    <Sidebar />
    <div class="w3-main" style="margin-left:300px">
    <Header />
    {kEnableSearch && <Search />}
    <main class={kEnableSearch ? "search-enabled" : ""}>
    <div class="category-list">
      <ul>
        <li>
            <a href={`${publicationsURL}?search=Journal`}>Journal</a>
        </li>
        <li>
            <a href={`${publicationsURL}?search=Conference`}>Conference</a>
        </li>
        <li>
            <a href={`${publicationsURL}?search=WhitePaper`}>White Paper</a>
        </li>
        <li>
            <a href={`${publicationsURL}?search=Presentation`}>Presentation</a>
        </li>
        <li>
            <a href={`${publicationsURL}?search=Academic`}>Academic</a>
        </li>
      </ul>
    </div>
      <section>
        <ul class={`accent block-list posts${kEnableSearch ? " loading" : ""}`}>
          {
            posts.map((post) => (
              <li
                data-article-id={post.id}
                data-article-meta={JSON.stringify(post.data)}
              >
                <a class="heading" href={`${publicationsURL}/${post.id}/`}>
                  <h2>
                    <span class="title">{post.data.title}</span>
                  </h2>
                  <span class="date" style="text-align:left">
                    <FormattedDate date={post.data.date} />
                  </span>
                </a>
                <span class="author">{post.data.author}</span></br>
                <i>{post.data.venue}</i>
                {(post.data.doi || post.data.file) && </br>}
                {post.data.doi && <a href={`https://doi.org/${post.data.doi}`}>DOI</a>}
                {post.data.doi && post.data.file && <span> | </span>}
                {post.data.file && <a href={post.data.file}>File</a>}
                {post.data.tags && <TagListPublications tags={post.data.tags} />}
                <!-- {post.data.description || ""} -->
              </li>
            ))
          }
        </ul>
        <script is:inline>
          if (!window.location.search) {
            document.querySelector(".posts").classList.remove("loading");
          }
        </script>
      </section>
    </main>
    <Footer />
        </div>
  </body>
</html>
